img {
  height: 125px; width: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #777777
}

p {
  color: navyblue;
}

@font-face {
  font-family: KaushanScript-Regular;
  src: url(Fonts/KaushanScript-Regular.otf);
}

h1 {
  font-family: KaushanScript-Regular, fantasy;
}

h4 {
  display: inline-block;
}

fieldset {
  display: block;
  margin-right: 480px;
  border-style: double;
  border-color: darkblue;
}

body {
  background: lightblue;
  opacity: 0.75;
}

blockquote {
  border-style: groove;
  padding: 20px;
}

textarea {
  width: 400px;
  height: auto;
}

input {
  width: 200px;
}

.copyrightblock {
  text-align: center;
}

#aboutme {
  margin-top:50px;
  margin-left: 50px;
  margin-right:400px;
}

.thingstocenter {
  text-align: center;
}

#submit {
  background-color: darkblue;
  color: white;
  width: 80px;
  border-radius: 10px;
}

.leftborder {
  border-left: solid darkblue 10px;
  padding-left: 10px;
}

.links {
  font-style: italic;
}

.navbar {
  background-color: darkblue;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align:; center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: lightblue;
  color: black;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a: not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar .responsive {position: relative}
  .navbar a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar .responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}
